$color-white: #ffffff;
$color-emerald: #00897b;
$color-lite-emerald: #e4fdf9;
$color-lite-grey: #f0f1f1;
$color-grey: #212121;
$color-blue: #67d7f5;
$color-green: #86f7cc;
$color-overlay: rgba(240, 240, 240, .95);
$color-gradient: linear-gradient(to bottom left, $color-blue, $color-green);

$screen-xs: 414px;
$screen-xs-max: 567px;
$screen-s: 568px;
$screen-sm: 720px;
$screen-sm-max: 767px;
$screen-md: 768px;
$screen-ld: 992px;
$screen-xl: 1200px;
